# Supabase
VITE_SUPABASE_URL=https://azddjridufxqbqvhvpxq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6ZGRqcmlkdWZ4cWJxdmh2cHhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2MzA0NTAsImV4cCI6MjEwMTIwNjQ1MH0.iScE-drVVWXPh7z7pxIKm-kINWFL_CQdNO6pSZvbWYo