# Supabase
VITE_SUPABASE_URL=https://izhkyjxfrcoqrlcchkrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6aGt5anhmcmNvcXJsY2Noa3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTkxMzMsImV4cCI6MjA4ODg3NTEzM30.kIJMTKkBt0l76c7P1V9m0ldI64Vu9O2ZYOacKNgD1XY
